body {
	font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}

h1 {
	font-size: 70px;
	line-height: 1em;	
}

.site {
	color: white;
	font-size: 40px;
	padding: 0px;
	line-height: 0.5em;
	font-weight: 800;
}

h2 {
	font-size: 14px;
	color: gray;
	font-weight: 800;
}

.subheader {
	border-top: 2px solid #FF5C32;
	padding-bottom: 4px;
	letter-spacing: 0.02em;
	margin-top: 60px; 
}

h3 {
	color: gray;
}

li {
	list-style-type: circle;
}

ol li {
	margin-top: 0.5em;
	list-style-type: decimal;
}

a {
	color: gray;
}
